/**---------- Services ----------**/
.service-content {
    position: relative;
    background-color: var(--color-body);
    padding: 2rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
}

.service-img {
    max-width: 60px;
    margin-bottom: 1.25rem;
}

.service-title {
    font-size: var(--font-h3);
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--color-dark);
}

.service-desc {
    font-size: var(--font-small);
    color: var(--color-text);
}
